/* Horizontal Navbar */
.horizontal-navbar {
  background-color: #343a40; 
  height: 60px; 
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 20px;
  position: fixed; 
  top: 0;
  left: 290px; /* Offset by the width of the vertical navbar */
  right: 0; /* Ensure it stretches to the right edge */
  z-index: 1000; /* Keep it on top */
}

.profile-icon {
  color: #94a3b8; /* Tailwind's slate-400 equivalent */
  cursor: pointer;
  font-size: 30px; /* Adjust icon size as needed */
}